.search-div {
    position: absolute;
    top: 20%;
    left: 50%;
    width: 40%;
    transform: translate(-50%, -50%);
}

.list-group {
    position: absolute;
    width: 30%;
    top: 40%; 
    left: 50%;
    transform: translate(-50%);
}